.logo-container {
    width: 24px;
    height: 24px;
    position: relative;
}

.bar {
    position: absolute;
    width: 3px;
    top: var(--top);
    left: var(--left);
    height: var(--height);
}

.redGroup {
    z-index: 2;
}

/* Animation principale */
.move {
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(var(--moveY)); }
    100% { transform: translateY(0); }
}

/* Petit tremblement */
.shake {
    animation: shake 1s ease-in-out infinite;
    display: block;
}

@keyframes shake {
    0% { transform: translateY(0); }
    80% { transform: translateY(-1px); }
    100% { transform: translateY(0); }
}