body {
    max-width: 1440px;
    margin: auto;
    background: #F2F3FF;
    font-family: 'Inter', 'sans-serif';
}

/* LAYOUT ********************************************************/
.layout {
    margin-top: 35px;
}

.layout-content {
    max-width: 1140px;
    margin: 108px auto 80px auto;


}

/* HOMEPAGE ******************************************************/

.logo {
    width: 160px;
    height: 24px;
    position: absolute;
    top: 55px;
    left: 100px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 1024px;
    position: relative;
}

.formWrapper {
    width: 632px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.formWrapper .form {
    width: 397px;
    height: 618px;
    border-radius: 20px;
    background: white;
    padding: 40px;
    font-family: 'Inter', sans-serif;
}

.formWrapper .form h1 {
    color: #0B23F4;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 1.3em;
}

.formWrapper .form .subtitle {
    margin-top: 40px;
    font-weight: 500;
    font-size: 1.37em;
    color: #111111;
}

.formWrapper .form .formGroup {
    margin-top: 24px;
    position: relative;
}

.formWrapper .form .formGroup .label {
    font-weight: 400;
    font-size: 0.87em;
    color: #707070;
    display: block;
}

.formWrapper .form .formGroup .input {
    margin-top: 5px;
    width: 317px;
    height: 58px;
    border-radius: 6px;
    border: 1px solid #717171;
    padding-left: 1em;
    font-weight: bold;
}

.formWrapper .form .btnSubmit {
    margin: 40px auto;
    width: 100%;
    height: 50px;
    background: #0B23F4;
    font-size: 1em;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    border: none;
}

.formWrapper .error {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: red;
    font-size: .7em;
}

.homePicture {
    flex: 1;
    position: relative;
}

.homePicture .slogan {
    position: absolute;
    bottom: 29px;
    right: 24px;
    background: white;
    font-weight: 400;
    font-size: .75em;
    width: 288px;
    height: 62px;
    border-radius: 50px;
    color: #0B23F4;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ACTIVITIES ******************************************************/

.runner {
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255, 0));
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 52px;
    margin: 0 0 108px 0;
}
.sectionTitle {
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 1.375em;
}


.totalDistance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.totalDistance .caption {
    font-weight: 400;
    color: var(--grey);
    font-size: .875em;
    margin: 0;
}
.badge {
    background: var(--blue);
    width: 183px;
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 19px;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.badge .totalDistanceNumber {
    font-weight: 500;
    font-size: 1.375em;
}

.flag {
    width: 34px;
    height: 34px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.selectDate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-shrink: 0;
}

.selectDate .arrow {
    width: 24px;
    height: 24px;
}

.lastPerfo, .thisWeek {
    padding: 0 44px;
}

.thisWeek {
    margin-top: 70px;
}

.lastPerfo button {
    background: none;
    border: none;
    cursor: pointer;
}
.graphs {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.graphBarDistance, .graphBarBpm {
    background: white;
    border-radius: 10px;
    padding: 18px 40px;
    height: 483px;
}

.graphBarDistance {
    width: 445px;
}

.graphBarDistance .average {
    color: #0B23F4;
    font-weight: 500;
    font-size: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1;
}

.graphBarBpm .average {
    color: var(--orange);
    font-weight: 500;
    font-size: 1.4em;
}

.graphBarDistance .selectDate p, .graphBarBpm .selectDate p {
    font-size: .75em;
    font-weight: 400;
    margin: 0;
}

.graphBarBpm {
    width: 583px;
}

.distanceGraphWrapper {
    width: 330px;
    height: 307px;
}

.bpmGraphWrapper {
    width: 503px;
    height: 307px;
}

.sectionSubTitle {
    color: var(--grey);
    font-weight: 500;
}

.donutAndData { 
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.donut {
    width: 450px;
    height: 342px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
}

.donut .donutHeader {
    width: 374px;
    height: 97px;
}

.donut .donutHeader .realised {
    color: var(--lightblue);
}
.donut .donutHeader .target {
    color: var(--blue);
    font-size: 1.75em;
    font-weight: 600;
}
.donut .donutHeader .caption {
    font-size: .875em;
    color: var(--grey);
    margin: 0;
}

.caption {
    color: var(--grey);
    font-size: .75em;
    margin-bottom: 32px;
}

.donutAndData .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.donutAndData .data .distance,
.donutAndData .data .duration {
    width: 572px;
    height: 103px;
    border-radius: 10px;
    background: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donutAndData .data .label {
    font-weight: 400;
    font-size: .875em;
    color: #707070;
    margin: 0;
}

.donutAndData .data .duration {
    color: var(--blue);
}

.donutAndData .data .distance {
    color: var(--orange);
}

.donutAndData .data .duration .result
.donutAndData .data .distance .result
{
    margin:0;
}

.donutAndData .data .duration .result {
    color: var(--lightblue)
}
.donutAndData .data .duration span {
    color: var(--blue);
}
.donutAndData .data .distance .result {
    color: var(--lightorange)
}
.donutAndData .data .distance span {
    color: var(--orange);
}
.donutAndData .data .span
.donutAndData .data .span
{
    font-size: 1.375em;
    font-weight: 500;
    margin: 0;
}

/*///////////// PROFILE ////////////////////////*/
.mainProfile {
    display: flex;
    gap: 57px;
    height: 778px;
    margin-bottom: 80px;
}

.mainProfile .biodata {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainProfile .identity {
    width: 508px;
    height: 165px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.mainProfile .biodata .data{
    width: 508px;
    height: 331px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 24px 0 28px;
}

.mainProfile .subTitle {
    width: 100%;
    font-weight: 500;
    font-size: 1.375em;
    color: var(--darkgrey);
}

.mainProfile .data .subTitle {
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E7E7;
}

.mainProfile .items {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainProfile .items .item {
    color: var(--grey);
    font-weight: 500;
}

.mainProfile .statistics .badges {
    display: flex;
    gap: 19px;
    width: 575px;
    flex-wrap: wrap;
}