.header {
    display: flex;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.header .brand {
    display: flex;
}

.header .brand .brand-picture {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.header nav {
    
    border-radius: 40px;
    background: white;
    height: 50px;
    display: flex;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 48px;
    font-weight: 400;
    font-size: 0.87em;
}

.header nav ul .li-decon {
    padding-left: 40px;
    border-left: 1px solid grey;
    color: var(--blue);
}

.header nav ul 