footer {
    height: 41px;
    padding: 0 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-links {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    list-style-type: none;  
    gap: 16px;
    font-size: 0.87em;
}

.bottom-logo {
    width: 20px;
    height: 20px;
    margin-left: 32px;
}

.mock {
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    background: var(--blue);
    color: white;
    cursor: pointer;
}

.api {
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    background: var(--orange);
    color: white;
    cursor: pointer;
}