footer {
    height: 41px;
    padding: 0 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer .bottom-links ul {
    display: flex;
    list-style-type: none;  
    gap: 16px;
    font-size: 0.87em;
}

footer .bottom-links ul li a {
    text-decoration: none; 
} 

footer .bottom-links ul li a:visited {
    color: inherit; 
}

footer .mock,
footer .api {
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

footer .api {
    background: var(--orange);
}

footer .mock {
    background: var(--blue);
}