.identity {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.pictureId {
    width: 104px;
    height: 117px;
    border-radius: 10px;
    object-fit:cover;
}

.dataId {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataId h1, .dataId p {
    margin: 0;
}

.dataId h1 {
    font-weight: 500;
    font-size: 1.375em;
    color: var(--darkgrey);
}

.dataId p {
    font-weight: 400;
    font-size: .875em;
    color: var(--grey);
}