/* Reset de base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas {
  max-width: 100%;
  display: block;
}

button, input, textarea, select {
  font: inherit;
}

/* Variables de couleur */
:root {
  --main-background: #F2F3FF;
}

#root {
  background: var(--main-background);
}